# **DataFrame Task By Vasudev.A**

### Exercise 1: Create a DataFrame from a Dictionary
- **Task**: Create a DataFrame using the following dictionary:
  ```python
  data = {
      'Product': ['Laptop', 'Phone', 'Tablet'],
      'Price': [1200, 800, 400],
      'Stock': [10, 50, 30]
  }
  ```
  - Display the DataFrame.

In [5]:
import pandas as pd
data = {
    'Product': ['Laptop', 'Phone', 'Tablet'],
    'Price': [1200, 800, 400],
    'Stock': [10, 50, 30]
}

df = pd.DataFrame(data)
print(df)

  Product  Price  Stock
0  Laptop   1200     10
1   Phone    800     50
2  Tablet    400     30

### Exercise 2: Access a Column
- **Task**: From the DataFrame created in Exercise 1, access and print the **'Product'** column.

In [7]:
print(df['Product'])

0    Laptop
1     Phone
2    Tablet
Name: Product, dtype: object

### Exercise 3: Add a New Column
- **Task**: Add a new column called **'Discount'** to the DataFrame with the values `[100, 50, 20]`.

In [8]:
df['Discount'] = [100, 50, 20]
print(df)

  Product  Price  Stock  Discount
0  Laptop   1200     10       100
1   Phone    800     50        50
2  Tablet    400     30        20

### Exercise 4: Remove a Column
- **Task**: Remove the **'Stock'** column from the DataFrame using the `drop()` method, and display the updated DataFrame.

In [13]:
df =df.drop('Stock', axis=1)
print(df)

  Product  Price  Discount
0  Laptop   1200       100
1   Phone    800        50
2  Tablet    400        20

### Exercise 5: Select a Row
- **Task**: Select and print the row for the **second product** using the `iloc[]` method.

In [14]:
print(df.iloc[1])

Product     Phone
Price         800
Discount       50
Name: 1, dtype: object

### Exercise 6: Filter Data
- **Task**: Filter the DataFrame to display only products with a price greater than **500**.

In [17]:
filtered_df = df[df['Price'] > 500]
print(filtered_df)

  Product  Price  Discount
0  Laptop   1200       100
1   Phone    800        50

### Exercise 7: Create a DataFrame from a List
- **Task**: Create a DataFrame from the following list of lists:
  ```python
  data = [
      ['Alice', 24, 'Engineer'],
      ['Bob', 30, 'Doctor'],
      ['Charlie', 22, 'Artist']
  ]
  columns = ['Name', 'Age', 'Occupation']
  df = pd.DataFrame(data, columns=columns)
  ```
  - Display the DataFrame.

In [18]:
import pandas as pd
data = [
    ['Alice', 24, 'Engineer'],
    ['Bob', 30, 'Doctor'],
    ['Charlie', 22, 'Artist']
]
columns = ['Name', 'Age', 'Occupation']
df = pd.DataFrame(data, columns=columns)
print(df)

      Name  Age Occupation
0    Alice   24   Engineer
1      Bob   30     Doctor
2  Charlie   22     Artist

### Exercise 8: Add Multiple Columns
- **Task**: To the DataFrame created in Exercise 7, add two new columns called **'Salary'** and **'Experience'** with values `[70000, 80000, 50000]` and `[2, 5, 1]` respectively.

In [32]:
df['Salary']=[70000, 80000, 50000]
df['Experience'] = [2, 5, 1]
print(df)

      Name  Age Occupation  Salary  Experience
0    Alice   24   Engineer   70000           2
1      Bob   30     Doctor   80000           5
2  Charlie   22     Artist   50000           1

### Exercise 9: Filter Rows Based on Multiple Conditions
- **Task**: From the DataFrame in Exercise 7, filter the rows where **'Age'** is greater than **25** and **'Occupation'** is **'Doctor'**.

In [23]:
df_filter=df[(df['Age'] > 25) & (df['Occupation'] == 'Doctor')]
print(df_filter)

  Name  Age Occupation  Salary  Experience
1  Bob   30     Doctor   80000           5

### Exercise 10: Modify a Column
- **Task**: Modify the **'Salary'** column in the DataFrame created in Exercise 7 by increasing each salary by **10%**, and display the updated DataFrame.

In [35]:
import pandas as pd
data = [
    ['Alice', 24, 'Engineer'],
    ['Bob', 30, 'Doctor'],
    ['Charlie', 22, 'Artist']
]
columns = ['Name', 'Age', 'Occupation']
df = pd.DataFrame(data, columns=columns)
df['Salary']=[70000, 80000, 50000]
df['Experience'] = [2, 5, 1]
df['Salary'] = df['Salary'] * 1.1
print(df)

      Name  Age Occupation  Salary  Experience
0    Alice   24   Engineer   70000           2
1      Bob   30     Doctor   80000           5
2  Charlie   22     Artist   50000           1
      Name  Age Occupation   Salary  Experience
0    Alice   24   Engineer  77000.0           2
1      Bob   30     Doctor  88000.0           5
2  Charlie   22     Artist  55000.0           1

In [34]:
import pandas as pd
data = [
    ['Alice', 24, 'Engineer'],
    ['Bob', 30, 'Doctor'],
    ['Charlie', 22, 'Artist']
]
columns = ['Name', 'Age', 'Occupation']
df = pd.DataFrame(data, columns=columns)
df['Salary']=[70000, 80000, 50000]
df['Experience'] = [2, 5, 1]
df['Salary'] = df['Salary'] + df['Salary'] * (10/100)
print(df)

      Name  Age Occupation   Salary  Experience
0    Alice   24   Engineer  77000.0           2
1      Bob   30     Doctor  88000.0           5
2  Charlie   22     Artist  55000.0           1